<div class="card">
    <p-table [showGridlines]="showGridlines" [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                @for (column of columns; track $index) {
                  <th>{{column.header}}</th>
                }

                @if(editable || delete){
                  <th class="tw:text-center">
                    <p class="tw:text-center">Acciones</p>
                  </th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                @for (column of columns; track $index) {
                  <td>
                    @switch (column.format?.type) {
                      @case ('currency') {
                        {{ ( column.operation?.typeOperate ? operationX(item[column.operation?.field!], column.operation ) : item[column.field] ) | currency }}
                      }
                      @case ('date') {
                        {{ item[column.field] | date:column.format?.params }}

                      }
                      @default {
                        {{ item[column.field] }}
                      }
                    }
                  </td>
                }
                @if(editable || delete){
                  <td >
                    <div class="tw:gap-4 tw:flex tw:justify-center tw:items-center">
                      @if (editable) {
                        <p-button icon="pi pi-pencil" [rounded]="true" (click)="onAccionEvent('editable', item )"  severity="secondary" />
                      }
                      @if (delete) {
                         <p-button icon="pi pi-trash" [rounded]="true" (click)="onAccionEvent('delete', item )"  severity="secondary" />
                      }
                    </div>
                  </td>
                }
            </tr>
        </ng-template>
        @if (colFooter?.length) {
          <ng-template #footer>
             <tr>
                 @for (col of colFooter; track $index) {
                   <td [attr.colspan]="col.colspan" class="text-right font-bold p-3 pb-0">
                      @switch (col.format?.type) {
                        @case ('currency') {
                           {{ (col.operation?.typeOperate ? operationY(col.operation!) : col.label) | currency }}
                        }
                        @default {
                          {{ col.operation?.typeOperate ? operationY(col.operation!) : col.label }}
                        }
                      }
                  </td>
                 }
             </tr>
         </ng-template>
        }
    </p-table>
</div>

