<div class="tw:card tw:flex tw:justify-center">
    <p-dialog [header]="isOpen().data ? 'Editar producto' : 'Guardar producto'" [modal]="true" (onHide)="isOpen.set({ isVisible: false})" [(visible)]="visible">
        <div class="tw:mb-4 pl-4">
          <span class="p-text-secondary block mb-8">Datos del producto.</span>
        </div>
        <app-form-product [product]="isOpen().data" />
        <div class="tw:flex tw:ustify-end tw:gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
        </div>
        <!-- <pre>{{isOpen().data | json}}</pre> -->
    </p-dialog>
</div>
